@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color:white;
  -webkit-text-stroke: 1px black;
}

body {
  background: darkseagreen;
}